<% if borrowed.borrowed_days.blank? %>

      <% status = 'Reading' %>

    <% else %>
      <% @pay_day = (borrowed.borrowed_days - borrowed.borrowed_date).to_i %>
      
      <% if @pay_day > 0 &&  @pay_day < 10 %>
     
         <% status = 'Paid' %>

      <% else  %>

      <% status = 'Out of date' %>

    <% end %>

<% end %>
  
  
<div class="links btn-group">

            <% @user = borrowed.user %>
            <% @book = borrowed.book %>

            <tr>
              <th scope="row"></th>
              <td><%= @book.title %></td>
              <td><%= @book.author %></td>
              <td><%= @user.name %></td>
              <td><%= @user.email %></td>
              <td><%= borrowed.borrowed_date %></td>
              <td><%= borrowed.borrowed_days %></td>

              <% if status == 'Out of date' %>
                <td style="color:Tomato";><%= status %></td>
              <% else %>
                <td><%= status %></td>
              <% end %>

            </tr>


</div>
