<% if !user_signed_in? || current_user.admin?%>

  <h1>Wecome to Library</h1>

<% else %>

<div class="nav navbar-nav navbar-right">
    
    <h1>Wecome <i><%=current_user.name %></i> to Library</h1>
      <h4 >You have <%= @book.count %> book <u><%= link_to " about to expire", about_to_expire_path %></u></h4>
</div>
<% end %>

<h3>Featured books</h3>
<div class="links btn-group">

  <div class="dropdown">

  <button class = "btn-custom" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Category
    <span class="caret"></span>
  </button>
          <ul class="dropdown-menu">
             <% Category.all.each do |category| %>
                  <li class="<%= 'active' if params[:category] == category.name %>">
                    <%= link_to category.name, books_path(category: category.name), class: "link" %>
                  </li>
              <% end %>
          </ul>

    </div><br>
    <% if user_signed_in? %>
      <% if !current_user.admin %>
        <%= link_to "Reading", reading_path,  class: "btn btn-custom" %>
      <% end %>
        <%= link_to "Out of date", out_of_date_path,  class: "btn btn-custom" %>
    <% end %>
</div>


<h4 class="current-category"><%= params[:category] %></h4>
<% if @books.count == 0 %>

  <h1>There are no books currently in this category</h1>

<% else %>  

  <div class="row">


    <% @books.each do |book| %>

      <div class="col-md-3">
        <a href="/books/<%= book.id %>">
          <%= image_tag book.book_img.url(:book_index), class: "book" %>
        </a>
        <div class="title">
          <h4><b><%= book.title %></b></h4>
          <p><%= book.author %></p>
        </div>
      </div>  

    <% end %>

  
  </div>
<%= will_paginate @books %></p>
<% end %> 
