<%= link_to "Back", root_path, class: "btn btn-custom" %>
<% if current_user.admin? %>
  <%= render partial: 'borroweds/borrowed_list', locals: {borrowed: @borroweds} %>
  
<% else %>
  <% if @debt > 0 %>
  <h3 style="color:tomato;"> You need to pay "<%= @debt %> $ the  fine" </h3>
  
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>

      <label class="amount">
        <span>Amount: $5.00</span>
      </label>
    </article>
      <% end %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount="500"
            data-locale="auto"></script>
  <%= render  'list' %>
  <% else %>
   <h2 style="color: Tomato">There are no books currently in this Borrowed</h2>
  <% end %>
  
<% end %>